<div class="container">
  <nav class="navbar">
    <div class="navbar-content">
      <div class="logo">
        <span class="logo-badge">Xtrogeo</span>
      </div>
    </div>
    <ul class="nav-buttons">
      <li class="search-container">
        <input type="text" placeholder="Search..." class="search-input" />
        <i class="fas fa-search"></i>
      </li>
      <li><a routerLink="/dashboard" class="btn">Dashboard</a></li>
      <li><a routerLink="/schedule" class="btn">Schedule Trip</a></li>
      <li><a routerLink="/operator" class="btn">Operator</a></li>
      <li><a routerLink="/configuration" class="btn">Configuration</a></li>
      <li><a routerLink="/report" class="btn">Report</a></li>
      <li><a routerLink="/ticket" class="btn">Ticket</a></li>
    </ul>
  </nav>
</div>
