<p style="text-align: center;">Attribute-directive works!</p>

<style>
    .container {
        border: 2px solid crimson;
        border-radius: 5px;
        padding: 1rem;
    }

    .colBorder {
        border: 2px solid #ccc;
        border-radius: 15px;
        padding: 1rem;
    }

    .row 
        {
        justify-content: center;
        align-items: center;
    }
    .col-3{
        display: flexbox;
        justify-content: center;
        margin-bottom: .5rem;
    }
    .col-4{
        justify-content: center;
        margin-bottom: .5rem;
    }

    .listI
    {
        list-style-position: inside;
    }
    .myUl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    

</style>
<div class="container">
    <div class="bg-primary-subtle text-center " style="margin-top: .9rem;">
        <h1 style="font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;">Attribute Directive</h1>
        <p>*ngClass, *ngStyle ....</p>
        <button class="btn btn-primary" [routerLink]="['/Structural-Directive']">Go to Structural-Directive</button>
    </div> 
    <div class="row pt-3"  >
        <div class="col-3" >
            <div class="p-3 mb-2 text-white text-center colBorder" [ngClass]="div1BgColor">
                <h4 >Div-1</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 mb-2 text-white text-center colBorder " [ngClass]="isDiv2Active==true?'bg-success':'bg-secondary' ">
                <h4 >Div-2</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 mb-2 text-white text-center colBorder" [ngClass]="num1==num2?'bg-warning':'bg-dark' ">
                <h4 >Div-3</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="text-white text-center colBorder" [ngClass]="isActive ? 'bg-info':'' ">
                <h4 >Div-4</h4>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-3 text-center">
            <button class="btn btn-danger" (click)="addRedClass()">Add Red</button>
            <button class="btn btn-primary mx-2"(click)="addBlueClass()">Add Blue</button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-primary" (click)="toggleDiv2Class()">Toggle</button>
        </div>
        <div  class="col-3 text-center" >
            <input type="text" [(ngModel)]="num1" placeholder="Num 1" style="width: 45%; margin-right: 0.5rem;">
            <input type="text" [(ngModel)]="num2" placeholder="Num 2" style="width: 45%;">
        </div> 
        <div class="col-3 text-center" >
            <input type="checkbox" [(ngModel)]="isActive">
            <select>
                <option value="">Select State</option>
                <option value="California">California</option>
                <option value="Dallas">Dallas</option>
                <option value="Virginia">Virginia</option>
            </select>
        </div>
    </div>
    <div class="row pt-3 style">
        <div class="col-5">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of studentList;let sr = index">
                        <td>{{sr+1}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.city}}</td>
                        <td [ngStyle]="{'background-color':student.isActive? 'yellow':'red' }">
                            <span >{{student.isActive?'Active':'Deactive'}}</span>

                            

                        </td>   
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
