<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">Navbar</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" routerLink="Attribute-Directive">Attribute-directive</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="Structural-Directive">Structural-Directive</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="Configration-component">Configration component</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="Navbar-project">Project-Navbar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Data-Binding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Pipe">Pipe</a>
          </li>
        
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Control Flow
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" routerLink="If-Else">If-Else</a></li>
             <li><a class="dropdown-item" routerLink="For-Loop">For loop</a></li>
           </ul>
         </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Forms
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="Template-Form">Template Form</a></li>
            <li><a class="dropdown-item" routerLink="Reactive">Reactive</a></li>
          </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              API
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="Get-API">Get</a></li>
              <li><a class="dropdown-item" routerLink="Post-API">Post</a></li>
            </ul>
        </li>
       </ul>
     </div>
   </div>
 </nav>

 <div class="container">
   <router-outlet></router-outlet>
 </div>